.dark {
  color: #86C232;
  background-color: #262626;
}

a.nav-link {
  font-size: 20px;
  color: #86C232;

}
a.nav-link.active {
  color: #86C232;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #86C232;
}

.logo{
   max-width: 70vw;
   z-index: 99;
}

.logo:hover {
  filter: brightness(50%);
}