.notFound{
    text-align: center;
    position: relative;
}

.notFound img{
    width: 100%;
}

.notFound h1 {
    position: absolute;
    color: white;
    top: 5px;
    width: 85%;
    margin-left: 7.5%;
    font-variant: small-caps;
}