article h1{
    color: #86C232;
    font-size: 2.75rem;
}

section.Todo {
    /* background-image: url('../../images/background.jpg'); */
    background-size: 100%;
    background-position: bottom;
    background-color: black;
}
section.todo {
    /* background-image: url('../../images/background.jpg'); */
    background-size: 100%;
    background-position: bottom;
    background-color: black;
    
}
section.Todo article.todoGallery {
        padding: 2em 0 4em;
        width: 100%;
}

article.TodoGallery div.singleTodo {
    border: 2px solid #212529;
    text-align: center;
    position: relative; 
    padding: 0 0 2em;
    height: 15em;
    margin: 0;
    border-radius: 5px;
    background-color: rgba(200,200,200, .95);    
}

div.singleTodo  {
    position:relative;
    border: 1px, solid, #222626;
    background-color:#C8C8C8;
    padding: 0 0 1em;
    border-radius: 15px;
    box-shadow: 6px 6px 8px darkgrey;
}   

div.singleTodo h3 {
    font-size: 24px;
    font-weight: 400;
    padding: .5em 0;
    background-color:#222629;
    border-bottom: 4px solid #86C232;
    color: #86C232;
    border-radius: 14px 14px 0 0;
    min-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 63px;
    padding-right: 63px;
 }   

div.singleTodo p {
    padding: 1em;
}

.createTodo .card {
    border: none;
}

.createTodo form{
    padding:2em;
    border: 2px solid white;
    border-radius: 10px;
}

.singleTodo button#deleteLink {
  position: absolute;
  font-size: 1.2em;  
  width: 35px;
  height: 35px;
  top: .75em;
  right: .75em;
  background: none;
  outline: none;
  color: #86C232;
  border: 2px solid #86C232;
  border-radius: 5px;
  transition: .5s;
}

.singleTodo button#editLink {
    position: absolute;
    font-size: 1.2em;
    width: 35px;
    height: 35px;
    top: .75em;
    left: .75em;
    background: none;
    outline: none;
    color: #86C232;
    border: 2px solid #86C232;
    border-radius: 5px;
    transition: .5s;
  }

  button#editLink.catBtn, button#deleteLink.catBtn  {   
margin-left: 10px;
margin-right: 10px;
width: 37px;
height: 37px;
border-radius: 0.35rem;
}


button#deleteLink:hover, button#editLink:hover {
  background-color: #474B4f;
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

article.TodoGallery h2.alert {
  height: 3.5em;
}

.container {
  /* background-color:rgba(200,200,200, .95); */
  min-height: calc( 100vh - 353px ) !important;
  max-width: 85%;
  padding-top: 30px;
}

section.categories {
    /* background-color: rgb(200,200,200); */
    font-weight: 600;
}


/* section {
  background-image: url('../../images/motionBackground.gif'); 
  background-repeat: no-repeat;
  background-size: cover;
} */

.form-group input, .form-group textarea, .form-group select {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.dark{
color: whitesmoke;
background-color: #262626;
}

.btn.dark{
color: #86C232;
background-color: #262626;
border: 1px solid #86C232;
padding: 0.375rem 0.75rem;
font-size: 1rem;
border-radius: 10px;
}

.btn.dark:hover{
color: whitesmoke;
border: 1px solid whitesmoke;
background-color: #474B4f;
}

button.btn.btn-dark{
    color: #86C232;
    border-radius: 10px;
    margin: .5em;
}

button.btn.btn-dark:hover{
    color: whitesmoke;
    background-color: #474B4f;
}

table.table, .loginCard  {
    box-shadow: 8px 8px 9px darkgrey;
}  

div.dark  {
    background-color: #262626;
    box-shadow: 0px 9px 9px darkgrey;
}  

div.contrast {
    color: #262626;
    background-color: #61892f;
}  

.btn.btn-dark{
    min-width: 90px;
    color: whitesmoke;
    background-color: #262626;
    border: 3px solid #86C232;
    padding: 0.35rem 0.75rem;
    font-size: 1.1rem;
    border-radius: 0.25rem;
    box-shadow: 4px 4px 8px darkgrey;
}


.btn.dark-out{
    color: whitesmoke;
    background-color: #262626;
    padding: 0;
  }

.toggletag{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-shift-right{
position: relative;
left: 7%;
}

.logout{
    min-height: 100px;
    font-weight: 350;
    letter-spacing: 0.07em;
}

.profile img{
    position: relative;
    bottom: 5px;
}



.table-bordered>:not(caption)>*>* {
    border-width: 0 0 !important;
}

.table-bordered{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}




@media screen and (max-width:1023px) {
    section.Todo {
        background-size: 200%;
    }
    .createTodo form {
        width: 95%;
    }
}
/* #endregion */










